/**
 * @file
 * Styles for Culturepresse's banner component.
 */

#block-bannerblock-2 {
  background-color: #F8F8F8;
  padding: 15px 0 15px 0;
}

.advertisement_banner { 
  background-color: #F8F8F8;
  text-align: middle;
}
#block-bannerblock-2 img {
  display: block;
  margin: 0 auto 0 auto;
}
